{% extends "base.html" %}
{% block content %}
    <div class="page_header">
        <h2>Bibliotecas</h2>
    </div>
    <table class="table">
        <a class="btn btn-primary" href="/bibliotecas/criar/">Adicionar Biblioteca</a>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ano de criação</th>
                <th>Open Source</th>
            </tr>
        </thead>
        <tbody>
            {% for item in latest %}
                <tr>
                    <td><a href="/bibliotecas/{{ item.pk }}">{{ item.nome }}</a></td>
                    <td>{{ item.ano|default:"-" }}</td>
                    <td>
                        {% if item.openSource %}
                            Sim
                        {% else %}
                            Não
                        {% endif %}
                    </td>                   
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
