<!-- {% extends "base.html" %}
{% block content %}
    <div class="page-header">
        <h2>Criação de Usuário</h2>
    </div>
    <form method="POST" action=".">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nome_de_usuario">Username</label>
            <input type="text" id="id_nome_de_usuario" name="nome_de_usuario" class="form-control">
        </div>
        <div class="form-group">
            <label for="id_nome">Nome</label>
            <input type="text" id="id_nome" name="nome" class="formcontrol">
        </div>
        <div class="form-group">
            <label for="id_email">Email</label>
            <input type="email" id="id_email" name="email" class="formcontrol">
        </div>
        <div class="form-group">
            <label for="id_senha">Senha</label>
            <input type="password" id="id_senha" name="senha" class="formcontrol">
        </div>
        <div class="form-group">
            <label for="id_repeticao_senha">Confirmação de senha</label>
            <input type="password" id="id_repeticao_senha" name="repeticao_senha" class="form-control">
        </div>
    <input type=submit class="btn btn-primary" value="Criar">
    </form>
{% endblock %} -->